


.box img{
    width: 200px;
    height: 180px;
    border-radius: 50%;
}

 .padding{
     background-color: #004aad;
 }
 hr{
     color: #bdeeff;
 }
 .mobil, span{
     
     margin-top: 330px;
     left: 50px;
 }
 .ibou .ibou1, span{
     margin-top: 50px;
 }


/*-----========deuxeme parti=========---------*/

.progress{
    position: relative;
}
.ar-only{
    position: absolute;
    top: 20px;
    color: whitesmoke;
}
.lamine{
    width: 760px;
    margin: auto;
}

/*-----========deuxeme parti=========---------*/
.row .icon{
    position: absolute;
    top: 15px;
    left: 15px;

}
.icone .far{
    color: #dbeeff;

}